/*Фон для секций*/

.section:first-child {
  background: #6784ff;
}

.section:nth-child(2) {
  background: #edff67;
}

.section:last-child {
  background: #76ff7c;
}


/*Меню*/
.navbar {
  min-height: 40px;
}
.n-navigation{
margin: 2px;
zoom: 2;
opacity: 1;
text-color:red;

}
.n-navigation:hover{

}

.right-navigation{
border-radius: 25%;
background: white;
opacity: 0.2;
text-decoration: : none;
margin-top: 275px;
z-index: 99999;
position: absolute;
margin-left: 97%;
}