


    





/*-------------------------------------------------------------------------------
  2. Header
-------------------------------------------------------------------------------*/

.navbar{

background: white;
  position:absolute;
  top:0;
  left:0;
  z-index: 9999;
  width: 100%;
  border-radius: 0;
  font-size: 15px;
    
}


.lead{
  font-size: initial;
  margin:20px 0 0;
  color:#6a6a6a;
}




.section:first-child {

  background: #6784ff;
}

.section:nth-child(2) {
  background: #edff67;
}

.section:last-child {
  background: #76ff7c;
}


/*Меню*/
.navbar {
  min-height: 40px;
}
.n-navigation{
margin: 0;
zoom: 2;
opacity: 1;
}
.n-navigation:hover{
zoom: 2.1;
margin: ;
}

.right-navigation{
border-radius: 35%;
background: white;
opacity: 0.2;
text-decoration: : none;
margin-top: -375px;
z-index: 99999;
position: absolute;
margin-left: 97%;
}