


    





/*-------------------------------------------------------------------------------
  2. Header
-------------------------------------------------------------------------------*/

.navbar{
opacity: 0.8;
background: white;
  position:absolute;
  top:0;
  left:0;
  z-index: 9999;
  width: 100%;
  border-radius: 0;
  font-size: 15px;
    
}


.lead{
  font-size: initial;
  margin:20px 0 0;
  color:#6a6a6a;
}




.section:first-child {

  background: #6784ff;
}

.section:nth-child(2) {
  background: #edff67;
}

.section:last-child {
  background: #76ff7c;
}


/*Меню*/
.navbar {
  min-height: 40px;
}
.n-navigation{
position: relative;
margin: 25%;
zoom: 2;
opacity: 1;
}
.n-navigation:hover{
right: 0.5px;
border-radius: 50%;
box-shadow: 0 0 2px rgba(0,0,0,0.1);
zoom: 2.2;

}

.right-navigation{
height: 130px;
width: 50px;
border-radius: 35%;
background: white;
opacity: 0.6;
text-decoration: : none;
top: 45%;
z-index: 99999;
position: absolute;
right: 0.7%;
}