html {
	height: 100%;
}

body {
	padding: 0;
	text-align: center;
	position: relative;
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

hr{
	border-style: inset;
	border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

a{
	color:black;
	transition-property: color;
	transition-duration: 0.3s;
}

a:hover{
	color:grey;
	transition-property: color;
	transition-duration: 0.3s;
}

a:focus .hr{
	overflow: hidden;
	opacity: 1;
}

.hr{
	opacity: 0;
	border-color: #9acdcd;
	background: #9acdcd;	
	height: 2px;
	top: 1px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: 99; 
	color: #9acdcd;
}

.logo img{
	float: left;
	height: 8vh;
	width: 13vw;
}

.page0{
}

.page2{
}

.page3{
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

.navbar{
	margin-top: 3px;
	margin-bottom: -7px;
	bottom: 0;
	height: 30px;	
	opacity: 0.7;
	background: white;
	top:0;
	left:0;
	z-index: 9999;
	width: 100%;
	border-radius: 0;
	font-size: 15px;
	position: relative;
}

.summary-block{
	height: 40vh;
}

.horizontal{
	height: 5vh;
}

.caption{
	height: 13vh;
}

.caption span{
	font-size: 17pt;
	margin-top: 4vh;
	margin-left:10%; 
	float: left;
}

.caption a{
	font-size: 14pt;
	margin-top: 4vh;
	margin-right:10%; 
	float: right;
}

.ident{
	height: 10vh;
}

.caption1{
	height: 10vh;
} 

.caption2{
	height: 7vh;
}

.jobs{

}

.icon-jobs{
	margin-right: 1%;
	height: 35vh;
}

.img-jobs{
	position: absolute;
	right: 1vw;
	width: 100%;
	z-index: 1;
	zoom:1;
}


.col-md-12{
	padding: 0;
}

.summary-block-show{
	height: 40vh;
}

.show{
	-webkit-box-shadow: -1px 0px 16px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 16px 1px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 16px 1px rgba(0,0,0,0.75);
	transition-property: opacity;
	transition-duration: 1s;
	opacity: 1;
}

.show:hover{
	transition-property: opacity;
	transition-duration: 0.5s;
	opacity: 0.3;
}




.img-hide{
	right: 1vw;
	position: absolute;
	width: 100%; 
	z-index: 9999;
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 1;

}

.img-hide:hover{
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 0;
}


.img-jobs:hover{
	zoom:2;
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 0;
}