



html {
	height: 100%;
}

body {
	padding: 0;
	text-align: center;
	position: relative;
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}


a{
}

a:focus .hr{
	overflow: hidden;
	opacity: 1;

}



.hr{
	border-color:#9acdcd; 
	color:#9acdcd;
	background-color: #9acdcd;
	opacity: 0;	
	height: 2px;
	top: 1px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: 99; 
	color: #9acdcd;
}

.logo img{
	float: left;
	height: 7.2vh;
	width: 13vw;
}

.page0{
}

.page2{
}

.page3{
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

.navbar{

	margin-top: 3px;
	margin-bottom: -7px;
	bottom: 0;
	height: 30px;	
	opacity: 0.7;
	top:0;
	left:0;
	z-index: 9999;
	width: 100%;
	border-radius: 0;
	font-size: 15px;
	position: relative;
}
.nav li a{
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2vw;

}



.summary-block{
	height: 40vh;
}

.horizontal{
	height: 5vh;
}

.caption{
	height: 13vh;
}

.caption span{
	font-size: 17pt;
	margin-top: 4vh;
	margin-left:10%; 
	float: left;
}

.caption a{
	font-size: 14pt;
	margin-top: 4vh;
	margin-right:10%; 
	float: right;
}

.ident{
	height: 10vh;
}

.caption1{
	height: 10vh;
} 

.caption2{
	height: 7vh;
}

.jobs{

}

.icon-jobs{

    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
	color: white;
	margin-right: 1%;
	height: 35vh;
}

.icon-jobs a{
	color: white;
}



.col-md-12{
	padding: 0;
}

.summary-block-show{
	height: 40vh;
}

.show{
	-webkit-box-shadow: -1px 0px 16px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 16px 1px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 16px 1px rgba(0,0,0,0.75);
	transition-property: opacity;
	transition-duration: 1s;
	opacity: 1;
}

.footer{
	background: #6a6a6a;
	height: 45vh;
	bottom: 0;
	position: absolute;
	width: 100%;
}

.block-footer{
height: 32vh;
}

.block-footer hr{
color: white;
background: white;
height: 0.5px;
}

.block-footer h3{
	text-align: left;
}



.rights{
	padding: 0;
	margin: 0;
	text-align:left;
	bottom: 0;
	position: absolute;
	width: 110%;
	background: #9acdcd;
	color: #6a6a6a;
}
.rights div div span h4{
	margin-left: 3.3%;
}

.show:hover{
	transition-property: opacity;
	transition-duration: 0.5s;
	opacity: 0.3;
}

.dropdown:hover > .dropdown-menu { 	
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 1s, linear 0.5s;



} 

.dropdown-menu {
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s, linear 0.5s;
  float: left;
  width: 103%;
  margin-top: -2px;
  margin-left: -1%; 
  padding: 3px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #9acdcd;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown{
	border-bottom: #9acdcd 2px solid;
	bottom: 0%;
}

.img-hide{
	width: 65%; 
	z-index: 9999;
	opacity: 1;

}

.img-hide:hover{
	

}
.main-button{
	
  padding:10px 30px;
  border-radius: 25px;
  background: linear-gradient(to bottom, #F5EE82, #F5EE82 89%, #808080 96%,  #808080 100%);
  font-weight: 900;
  font-family:  sans-serif; font-size: 1.5vw; 
  line-height: 1;
  font-weight: normal;
  color: #3A3A3A;
  text-decoration: none;
  text-transform: uppercase;
          transition-property: background;
          transition-duration: 2s;

}
.main-button:active
 {
  background: linear-gradient(to bottom, #f3cb00, #f3cb00 90%, #808080 97%, #808080 100%);
  border-radius: 25px;

}



.main-button:focus,
.main-button:active:focus,
.main-button:focus,
.main-button:hover
 {
  outline:none;
}
.button-position{
	padding-top:30px;
	 
	 margin-right: 2%;

}

/* Footer*/
#footer{
	background: black;
	height:40vh;
	bottom: 0;
	position: absolute;
	width: 100%;

}
.logo-footer{
	width: 200px;
	height: 100px;
}
.footer-img{
   height: 50px;
   width: 50px;
   margin-bottom:12px;
   margin-top: 20px;

}
.footer-text{
	color: #000;
	color:15px;
}
/* 1.6 Loader */
/*plugin loader*/



.loader{
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color:#9acdcd;
  z-index: 100;
  text-align: center;
}



.cssload-bell {
  position: absolute;
  left:50%;
  top:50%;
  margin:-109px 0 0 -107px;
  width: 214px;
  height: 218px;
  border-radius: 100%;
}

.cssload-circle {
  width: 100%;
  height: 100%;
  position: absolute;
}

.cssload-circle .cssload-inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 11px solid #f3cb00;
  border-right: none;
  border-top: none;
  background-clip: padding;
  box-shadow: inset 0px 0px 21px rgba(255,237,145,0.15);
}

.cssload-circle:nth-of-type(0) {
  transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.cssload-circle:nth-of-type(0) .cssload-inner {
  animation: cssload-spin 2.3s infinite linear;
    -o-animation: cssload-spin 2.3s infinite linear;
    -ms-animation: cssload-spin 2.3s infinite linear;
    -webkit-animation: cssload-spin 2.3s infinite linear;
    -moz-animation: cssload-spin 2.3s infinite linear;
}

.cssload-circle:nth-of-type(1) {
  transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
}

.cssload-circle:nth-of-type(1) .cssload-inner {
  animation: cssload-spin 2.3s infinite linear;
    -o-animation: cssload-spin 2.3s infinite linear;
    -ms-animation: cssload-spin 2.3s infinite linear;
    -webkit-animation: cssload-spin 2.3s infinite linear;
    -moz-animation: cssload-spin 2.3s infinite linear;
}

.cssload-circle:nth-of-type(2) {
  transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
}

.cssload-circle:nth-of-type(2) .cssload-inner {
  animation: cssload-spin 2.3s infinite linear;
    -o-animation: cssload-spin 2.3s infinite linear;
    -ms-animation: cssload-spin 2.3s infinite linear;
    -webkit-animation: cssload-spin 2.3s infinite linear;
    -moz-animation: cssload-spin 2.3s infinite linear;
}

.cssload-bell {
  animation: cssload-spin 5.75s infinite linear;
    -o-animation: cssload-spin 5.75s infinite linear;
    -ms-animation: cssload-spin 5.75s infinite linear;
    -webkit-animation: cssload-spin 5.75s infinite linear;
    -moz-animation: cssload-spin 5.75s infinite linear;
}

