body{
     color:#ffffff;
    font-family: "Myriad Pro";
   font-weight: 200;
   font-size: 15px;
   line-height: 1.5;
   


    

}
h1{
  font-weight: 200;
  line-height: 1.1;
  margin:0;
  font-size: 44px;
  text-transform: uppercase;
  padding-top: 100px;
}
h2{

}
h3{

}
h4{

}
h5{
  font-size: 16px;
  font-weight:100;

}
input{
  margin:0;
}

.liner{
}
.scroll{
  padding-bottom: 100px;
}
.black_side{
background-color:#0b0b0b;
}
.white_side{
  background-color:#ffffff;
}




.scroll_element{
  font-size: 40px;

}
.main_text{
  
}
.full_element{
 
  padding-left:80px;
  padding-right:160px;
  height: 100vh;
}
/*Our works*/



}
.ourwork_text {
  color:red;
}
.work_desc{
  color:#222222;
  padding-top: 50px;
}
.work_button{
  color:#222222;
  text-align: left;
}
.button{
  color:#222222;
   text-transform: uppercase;
   position: left;
   text-align: left;
}
.list_button{
  padding-top:130px;
 

}
.work_img{
  padding: 12px 0px 6px 0px;
  

}
.first_img_colon{
  padding-top: 50px;
}
.third_img{
 padding-bottom: 50px;
}
.text-muted{
  color:#222222;
  padding-top: 50px;
}
/* Review */
.text_muted_grey{
  color:#e7e7e7;
    padding-top: 100px;
  }
.review_person{
   padding-top: 60px;
}
.text_muted_black{
  color:#6c6c6c;
    padding-top: 60px;
    font-size:16px;
  }
  .input_adress{
width: 90%;
height: 40px;
  }
    .input_name{
width: 90%;
height: 40px;
  }
  .input_message{
    width: 108%;
    height: 125px;

  }
  .send_button{
    border:none;
    width: 130px;
    height: 40px;
    background-color: #fcac45;
    margin-top:20px;
    margin-bottom:100px;
  }
  .text_muted_black > span{
    color:#db0000;
  }

  #footer{
    padding-top:150px;
  }